01. AI Agent for ATS Optimization/AI Agent for ATS Optimization.json
{
  "name": "Hunting",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Details",
        "formDescription": "Job Details ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Copmany Name",
              "placeholder": "Microsoft ",
              "requiredField": true
            },
            {
              "fieldLabel": "Position Name",
              "placeholder": "Software Engineer",
              "requiredField": true
            },
            {
              "fieldLabel": "Job Description",
              "fieldType": "textarea",
              "placeholder": "JD",
              "requiredField": true
            },
            {
              "fieldLabel": "Job Post Link",
              "placeholder": "LinkedIn Link"
            },
            {
              "fieldLabel": "Resume Code",
              "fieldType": "textarea",
              "placeholder": "Latex Code",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -496,
        -32
      ],
      "id": "53090ae5-6e59-4439-b3fe-0cfe3d9228a1",
      "name": "On form submission",
      "webhookId": "9408efd7-020e-4d27-a509-e0e0c91bea52",
      "notesInFlow": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an ATS (Applicant Tracking System) evaluation expert. ATS systems primarily perform exact keyword matching between the Job Description (JD) and the candidate's resume. If a keyword from the JD does not appear exactly (same wording and spelling) in my current resume text, treat it as missing, even if a synonym is present.\n\nI am applying for a job at the company: {{ $json['Copmany Name'] }}.\n\nPlease:\n1. Compare the Job Description (JD) provided below with my Master Resume.\n2. Calculate an estimated ATS Match Score between 0 and 100 based strictly on exact keyword and skills alignment.\n3. Identify all missing keywords from the JD that are not already present in my resume.\n4. In the missing keywords section, list hard skills first, then soft skills.\n5. Remove duplicates, and keep the original JD wording.\n6. Output only in a comma-separated list, with the first value being the ATS Score, followed by all missing keywords (hard skills first, then soft skills).\n7. Do not include explanations, summaries, or any additional text — only the required output format.\n\nJob Description:\n{{ $json[\"Job Description\"] }}\n\nMaster Resume:\n{{ $json[\"Resume Code\"] }}\n\nOutput format example:\n85, cloud computing, java, project management, leadership\n\n",
        "options": {
          "systemMessage": "You are an ATS (Applicant Tracking System) evaluation expert."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -352,
        -32
      ],
      "id": "89639c07-4ba0-4c7e-8fd5-98cfe66e3578",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        144
      ],
      "id": "79f5502b-a14e-4514-ba75-76ca2ad2da37",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9wKFJe1u9ObZuJoy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the string from the AI Agent output\nconst text = $json.output;\n\n// Split into array\nlet parts = text.split(',').map(s => s.trim());\n\n// First element = ATS score\nlet atsScore = parts.shift();\n\n// The rest = keywords\nlet keywords = parts;\n\n// Return as structured JSON for next nodes\nreturn [\n  {\n    atsScore,\n    keywords\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -32
      ],
      "id": "7a87d337-b16c-42f4-b0b1-6f851204e069",
      "name": "Code"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Add Skills",
              "fieldType": "textarea",
              "placeholder": "Add the Skills you want to keep in Resume",
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "= {{ $('On form submission').item.json[\"Copmany Name\"] }} | {{ $json.atsScore }}% | {{ $('On form submission').item.json[\"Position Name\"] }}",
          "formDescription": "=Missing Keywords : {{ $json.keywords }}",
          "buttonLabel": "Enhance"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        80,
        -32
      ],
      "id": "0a94497d-5799-4dec-a2a3-75cf72d0c6f8",
      "name": "Form",
      "webhookId": "5e20bed0-b1e6-46fb-ad93-5719c9187ecf"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert ATS (Applicant Tracking System) resume optimizer and professional technical writer.\n\nI will provide:\n1. My current resume in LaTeX format.\n2. A list of skills and keywords I want to ensure are present in the resume.\n\nYour tasks:\n\n1. Integrate the provided skills into my resume naturally so they appear in relevant sections such as Skills, Experience, or Projects.\n2. Maintain correct LaTeX syntax and formatting.\n3. Ensure the resume reads naturally and the skills are relevant to my actual work experience.\n4. Prioritize hard skills first, then soft skills.\n5. Do not just append the skills in a list — weave them into descriptions and bullet points where appropriate.\n6. Keep the length and structure of the resume professional and concise.\nOnly return the updated LaTeX code without any additional commentary.\n\nSkills to Add:\n{{ $json['Add Skills'] }}\n\nCurrent Resume (LaTeX):\n{{ $('On form submission').item.json['Resume Code'] }}",
        "options": {
          "systemMessage": "You are an expert ATS (Applicant Tracking System) resume optimizer and professional technical writer."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        -32
      ],
      "id": "6cb84865-09f6-4736-9d09-b543b4a976ed",
      "name": "AI Agent1",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        144
      ],
      "id": "f0712d96-e275-44e5-9f16-81382d3f7e7d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "9wKFJe1u9ObZuJoy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "er.pritamdas22@gmail.com",
        "subject": "={{ $('On form submission').item.json['Copmany Name'] }} | {{ $('On form submission').item.json['Position Name'] }}",
        "message": "=<!doctype html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; color: #222; line-height: 1.5;\">\n    <h2 style=\"margin-bottom: 6px;\">{{ $('On form submission').item.json['Copmany Name'] }}</h2>\n    <p style=\"margin: 4px 0;\">\n      <strong>Job Role:</strong> {{ $('On form submission').item.json['Position Name'] }}\n    </p>\n    <p style=\"margin: 4px 0;\">\n      <strong>Apply Link:</strong> \n      <a href=\"{{ $('On form submission').item.json['Job Post Link'] }}\" style=\"color: #1a73e8;\">Link To Apply</a>\n    </p>\n    <p style=\"margin: 4px 0;\">\n      <strong>Added / Deleted Keywords:</strong> \n      {{ $json.output }}\n    </p>\n    <hr style=\"margin: 16px 0; border: none; border-top: 1px solid #ddd;\">\n    <h3 style=\"margin-bottom: 6px;\">LaTeX Resume Code</h3>\n    <pre style=\"background: #f7f7f7; border: 1px solid #e0e0e0; padding: 10px; border-radius: 6px; font-size: 13px; white-space: pre-wrap; overflow-x: auto;\">\n{{ $('AI Agent1').item.json.output }}\n    </pre>\n  </body>\n</html>\n",
        "options": {
          "ccList": "jyotsna9798@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        816,
        -32
      ],
      "id": "66c9f0af-4a1d-4a8c-aba9-b0e1a072515a",
      "name": "Send a message",
      "webhookId": "b7b8ec0a-0f2d-4633-82b7-e80dd4ae1531",
      "credentials": {
        "gmailOAuth2": {
          "id": "MhJHDnh5QW3n3F7O",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Compare the following two lists:\n\nAdded Keywords:\n{{ $('Form').item.json['Add Skills'] }}\n\nAll Keywords:\n{{ $('AI Agent').item.json.output }}\n\nInstructions:\n1. Compare the two lists exactly (case-sensitive match).\n2. Create two separate lists:\n   - First list: All keywords from All Keywords that exist in Added Keywords, in the same order, each followed by \" ✅\".\n   - Second list: All keywords from All Keywords that do not exist in Added Keywords, in the same order, each followed by \" ❌\".\n3. Output both lists in this exact format:\n\nIncluded Keywords:\n<keyword1> ✅\n<keyword2> ✅\n\nNot Included Keywords:\n<keyword3> ❌\n<keyword4> ❌\n\n4. Do not add any explanation, extra text, bullet points, or formatting other than shown.\n5. Do not sort or remove duplicates.\n6. Maintain the order from the All Keywords list.\n",
        "options": {
          "systemMessage": "You are an expert ATS (Applicant Tracking System) resume optimizer and professional technical writer."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        512,
        -32
      ],
      "id": "43a515aa-c71c-44fe-bff8-a1bad08ea507",
      "name": "AI Agent2",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        144
      ],
      "id": "de0bb6e1-e7ef-405f-a0a0-6f6509686038",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "9wKFJe1u9ObZuJoy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88ffb929-afd3-4fa6-aa37-467458efeaa7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1cba6bdff3f65cff8c1d4168a94f7ff41bdeafa1ecc811d25cb55d58bf9cf3c"
  },
  "id": "hpd1o4lggv9vk6MZ",
  "tags": []
}